html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(40, 44, 52, 0.8);
  padding: 20px;
  color: white;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1; /* This will make the main content take up the remaining space */
  padding: 20px;
}

footer {
  background-color: rgba(241, 241, 241, 0.8);
  padding: 20px;
}
.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

.item {
  margin: 10px 0;
}

.item h2 {
  cursor: pointer;
  color: #007bff;
}

.item p {
  margin: 5px 0 0 0;
}

